<div class="row">
  <div class="col-md-6">
    <form class="form-horizontal" #userForm="ngForm">
      <div class="form-group">
        <label>Name</label>
        <input type="text" name="user.name" #uname="ngModel"
        [(ngModel)]="user.name" class="form-control"
        pattern="^[a-z,A-Z]{2}[a-z,A-Z]*$" required/>
        <span class="text-danger" *ngIf="uname.invalid && uname.touched ">Only alphabets, min length 2.</span>
      </div>
      <div class="form-group">
        <label>MailId</label>
        <input type="email" name="user.mailId" #umail="ngModel"
        [(ngModel)]="user.mailId" class="form-control"
        email required/>
        <span class="text-danger" *ngIf="umail.touched && umail.invalid ">Should be in proper format.</span>
      </div>
      <div class="form-group">
          <label>Password</label>
          <input type="password" name="user.password" 
          [(ngModel)]="user.password" class="form-control"
          required #upass="ngModel"/>
          <span class="text-danger" *ngIf="upass.touched && upass.invalid ">Can't be left blank.</span>
      </div>
      <div class="form-group">
        <!-- 
        <button type="button" class="btn btn-primary" (click)="processForm(userForm)"
        [disabled]="userForm.invalid">Submit</button>
       -->
       <button type="button" class="btn btn-primary" (click)="processForm(userForm.form)"
       >Submit</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h3>Form invalid state {{userForm.invalid}}</h3>
    </div>
</div>